<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="sophia-games content">
        <h2>Sophia likes to play games.</h2>
        <h3>Here is the list.</h3>
        <div class="sophia-games-list content">
            <ol>
                <li><h4>Minecraft</h4></li>
                <li><h4>Animal Crossing</h4></li>
                <li><h4>Among Us</h4></li>
                <li><h4>Roblox (pero bawal na)</h4></li>
            </ol>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>